[submodule "c-gateway"]
	path = c-gateway
	url = https://github.com/Kaisitop/c-gateway.git
[submodule "ms-auth"]
	path = ms-auth
	url = https://github.com/Kaisitop/ms-auth.git
[submodule "ms-core"]
	path = ms-core
	url = https://github.com/Kaisitop/ms-core.git
[submodule "ms-IoT-Bridge"]
	path = ms-IoT-Bridge
	url = https://github.com/Kaisitop/ms-IoT-Bridge.git
[submodule "ms-ia"]
	path = ms-ia
	url = https://github.com/Kaisitop/ms-IA.git
[submodule "ms-notificaciones"]
	path = ms-notificaciones
	url = https://github.com/Kaisitop/ms-notificaciones.git
